@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --btn-pink: #ff42a5;
  --btn-blue: #4ec5f7;
  --nab-sub-bg: rgba(11, 2, 35, 0.1);
  --default-padding: 1rem;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* utility class start */
.custom-linear {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
}
h2 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}
h3 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
h4 {
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
}
a {
  color: #3c354f;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
p {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  /* line-height: 30px; */
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1.3rem;
  padding: 0.9rem 2rem;
  border: none;
  border-radius: 48px;
  background: var(--btn-pink);
  cursor: pointer;
}
.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: var(--default-padding);
  overflow: hidden;
}
/* .section {
  
} */
.nav-heading,
.feature-heading {
  color: var(--btn-pink);
}
/* utility class end */
/* nav-section start */
header {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-content {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0;
}
.nav-content > img {
  width: 55px;
}
.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;
}
.nav-icon {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.nav-icon > a i {
  font-size: 1.3rem;
}
#youtube {
  color: #f61c0d;
}
#tiktok {
  color: black;
}
/* nav-section end */
/* hero section start */
.hero-section {
  background-image: url("../images/Group 14.png");
  background-repeat: no-repeat;
  background-position: top left;
}
.hero-container {
  display: flex;
  gap: 5rem;
  align-items: center;
}
.hero-left {
  /* align-self: center; */
  width: 50%;
}
.hero-right img {
  width: 100%;
}
.btn-blue {
  background-color: var(--btn-blue);
}
/* hero section end */
/* card container start */
.card-container{
  margin-block: 5rem;
}
.card-container h2 {
  text-align: center;
}
.card-container p {
  text-align: center;
}
.card-container .img-card-container {
  margin-top: 3rem;
}
.img-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  align-items: center;
}
.card {
  background: white;
  border-radius: 2rem;
  overflow: hidden;
}
.card-img {
  position: relative;
  padding: 0;
  overflow: hidden;
}
.card-img > img {
  display: block;
  width: 100%;
  max-height: 500px;
}
.edit {
  text-align: center;
  padding-top: 10rem;
  padding-right: 4rem;
  width: 400px;
  height: 500px;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  display: none;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  background-blend-mode: overlay;
  border-radius: 2rem;
  transition: background-color 2s ease 1s;
}
.edit p {
  color: var(--btn-pink);
}
.edit i {
  font-size: 2rem;
  color: black;
  background: white;
  border-radius: 50%;
}
.card-img:hover .edit {
  display: block;
  cursor: pointer;
}
/* card container end */
/* feature section start  */
.feature-container {
  display: flex;
  gap: 9rem;
  align-items: center;
  margin-block: 5rem;
}
.feature-left {
  text-align: right;
}
.feature-right > img {
  width: 100%;
  height: 100%;
}
.feature-right-2nd {
  position: relative;
  top: -12rem;
  right: 3rem;
}
.feature-right-2nd > img {
  width: 50%;
}
/* feature section end */
/* card-button start */
.card-btn-container{
  margin-block: 3rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.card-btn{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-block: 1rem;
  padding:.5rem 1rem ;
  border-radius:4rem ;
  overflow: hidden;
}
.card-btn-img{
  overflow: hidden;
}
.card-btn:hover {
  border: 1px solid var(--btn-pink);
}
.card-btn p:hover{
  color: var(--btn-pink);
}
/* card-button end */
/* footer section start */
footer{
  background: #0b0223;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  color: white !important;
}
footer a {
  color: white;
}
footer p {
  color: white;
}
.footer-heading {
  display: flex;
  gap: 1rem;
}
.footer-heading > img {
  width: 65px;
}
.footer-links,
.footer-logo {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.footer-content {
  margin-block: 1rem;
  cursor: pointer;
}
/* footer section end */
